<!DOCTYPE html>
<html ng-app="myApp" >
<head>
<title>Form</title>
<link rel="stylesheet" href="{{ url_for('static',filename='form.css') }}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>
<body>


<div class="container" ng-controller="patientCtrl">  
  <form id="contact" name="form" action="/submit" method=post>
    <h3>Basic Information</h3>
    <fieldset>
      <h4>Weight: </h4><input placeholder="lbs" type="number" tabindex="2" required ng-model="patient.weight"/> 
    </fieldset>
    <fieldset>
      <h4> Biological Gender: </h4>
                 <label class="radio-inline"><input name="radio-choice" type="radio" ng-model="patient.gender" value="male" required>Male</label>
                  <label class="radio-inline"><input name="radio-choice" type="radio" ng-model="patient.gender" value="female" required>Female</label>      
    </fieldset>
    <fieldset>
      <h4>Alcohol Resistance: </h4>
      {% if not reports %}
      <a href="{{ authorize_url }}" class="btn btn-primary-outline">Please click to connect with genome</a>
      {% else %}
      <input disabled placeholder="{{ reports[0].summary.text }}" type="text" required ng-model="patient.resistance"/> 
      {% endif %}
    </fieldset>
    <fieldset>
      {% if not reports %}
      <button type="submit" ng-click="submit(8)">Submit</button>
      {% else %}
      <button type="submit" ng-mouseover="submit({{ reports[0].summary.score }})">Submit</button>
      {% endif %}
    </fieldset>
    <!--action="{{ url_for('home') }}"   <p class="copyright">Designed by <a href="https://colorlib.com" target="_blank" title="Colorlib">Colorlib</a></p> -->
  </form>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="{{ url_for('static',filename='form.js') }}"></script>


</body>
</html>