<!DOCTYPE html>
<html ng-app="myApp" >
<head>
<title>Form</title>
<link rel="stylesheet" href="{{ url_for('static',filename='form.css') }}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>
<body>


<div class="container" ng-controller="patientCtrl">  
  <form id="contact" name="form">
    <h3>Basic Information</h3>
    <fieldset>
      <h4> Height: </h4> 
      <input placeholder="ft"  type="number" tabindex="1" required autofocus ng-model="patient.height.ft">
      <input placeholder="in" type="number" tabindex="1" required autofocus ng-model="patient.height.in">
    </fieldset>
    <fieldset>
      <h4>Weight: </h4><input placeholder="Your Weight" type="number" tabindex="2" required ng-model="patient.weight"> 
    </fieldset>
    <fieldset>
      <h4> Gender: </h4>
                 <label class="radio-inline"><input name="radio-choice" type="radio" ng-model="patient.gender" value="male" required>Male</label>
                  <label class="radio-inline"><input name="radio-choice" type="radio" ng-model="patient.gender" value="female" required>Female</label>      
    </fieldset>
    <fieldset>
      <button type="submit" ng-click="submit()">Submit</button>
    </fieldset>
    <!-- <p class="copyright">Designed by <a href="https://colorlib.com" target="_blank" title="Colorlib">Colorlib</a></p> -->
  </form>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="{{ url_for('static',filename='form.js') }}"></script>


</body>
</html>